## Reviewing Data of RPG Steam Games using Python and Pandas

Simple project to practice Pandas and explore Steam game data.

In [1]:
import numpy as np
import pandas as pd

# Obtaining Data

Data source is https://steamspy.com/ obtained 21 July 2021.

We used the SteamSpy API:
https://steamspy.com/api.php?request=genre&genre=RPG

I wanted to look at data from the RPG genre but this can be replaced with other genres.
This API provides a JSON file. I uploaded the file to my Google Drive so that it can be read in Colaboratory.

In [2]:
df = pd.read_json('drive/MyDrive/steamspyrpg.json')
df.head()

                       252490  ...               721460
appid                  252490  ...               721460
name                     Rust  ...  Xeno Time Inception
developer   Facepunch Studios  ...      Xeno Gaming LLC
publisher   Facepunch Studios  ...      Xeno Gaming LLC
score_rank                     ...

[5 rows x 7555 columns]

Pandas created a dataframe with the app ids as columns so we use transpose to fix it.

In [3]:
df = df.transpose()
df.head()

         appid           name  ... discount     ccu
252490  252490           Rust  ...        0  113970
218620  218620       PAYDAY 2  ...        0   32322
238960  238960  Path of Exile  ...        0   10500
892970  892970        Valheim  ...        0   26812
49520    49520  Borderlands 2  ...        0    3849

[5 rows x 17 columns]

# Working on Data

I chose to focus on the user scores. Created a new dataframe with the app id, name, and positive and negative scores.

In [4]:
df2 = df.loc[df['positive']>0, ['appid','name','positive','negative']].copy()
df2.head()

         appid           name positive negative
252490  252490           Rust   562708    87928
218620  218620       PAYDAY 2   464746    60729
238960  238960  Path of Exile   152443    12073
892970  892970        Valheim   242821    10213
49520    49520  Borderlands 2   232676    15992

Created a new column to calculate positive userscore %.

In [5]:
df2['score'] = df2['positive']/(df2['positive']+df2['negative']) * 100
df2.head()

         appid           name positive negative    score
252490  252490           Rust   562708    87928  86.4858
218620  218620       PAYDAY 2   464746    60729   88.443
238960  238960  Path of Exile   152443    12073  92.6615
892970  892970        Valheim   242821    10213  95.9638
49520    49520  Borderlands 2   232676    15992  93.5689

Checked if there are nulls - none found.

In [6]:
df2.isnull().sum()

appid       0
name        0
positive    0
negative    0
score       0
dtype: int64

Checked if there are game duplicates - found a few.

In [7]:
df2.duplicated(subset='name').sum()

6

In [8]:
df2[df2.duplicated(subset='name')]

           appid                name positive negative    score
22490      22490  Fallout: New Vegas    46753     2153  95.5977
1140510  1140510  Fantasy Gladiators        8        2       80
1526180  1526180       Hide and Seek       37       13       74
570850    570850       Metal Assault        9        4  69.2308
1382380  1382380              Aurora        4        0      100
1456750  1456750               Ceres       10       19  34.4828

Upon checking the data based on game name, we found that these games are not duplicates and have different app ids. It's appears that the duplicates are a different version of the same game, or a different game with the same name.

In [9]:
df2[df2['name'].str.contains(('Fallout: New Vegas'), case=False)]

       appid                name positive negative    score
22380  22380  Fallout: New Vegas   128391     4790  96.4034
22490  22490  Fallout: New Vegas    46753     2153  95.5977

Sorted data to look at the highest scoring games.

In [10]:
df2.sort_values(by='score', ascending=False)

           appid                             name positive negative    score
1283240  1283240                       Center2048        1        0      100
1264350  1264350  Echoes of Nocturnal Chords 夜弦之音       46        0      100
1539250  1539250    Karakuri-kun: A Japanese Tale        3        0      100
1212640  1212640                  A Lanterns Glow        2        0      100
861580    861580                            Delve        2        0      100
...          ...                              ...      ...      ...      ...
321390    321390                          Zone 22        1       11  8.33333
1509640  1509640                   Viking Warrior        1       12  7.69231
479180    479180                   Space Universe        2       26  7.14286
917600    917600                Became The Hunted        1       13  7.14286
948120    948120                The Mummy Pharaoh        1       14  6.66667

[7320 rows x 5 columns]

We found multiple games with 100% score but very few votes so we filter to those with more than 10000 scores.

In [11]:
df2[df2['positive'] > 10000].sort_values(by='score', ascending=False)

           appid                                name positive negative    score
1145360  1145360                               Hades   150146     1898  98.7517
1150690  1150690                               OMORI    20479      282  98.6417
292030    292030            The Witcher 3: Wild Hunt   519405    10802  97.9627
413150    413150                      Stardew Valley   365554     7757  97.9221
105600    105600                            Terraria   761081    16217  97.9137
...          ...                                 ...      ...      ...      ...
424370    424370             Wolcen: Lords of Mayhem    33947    27032    55.67
355840    355840                           Survarium    13169    11136  54.1823
555570    555570              Infestation: The New Z    17057    15350  52.6337
834910    834910                               ATLAS    17980    20602   46.602
226700    226700  Infestation: Survivor Stories 2020    10704    14893  41.8174

[210 rows x 5 columns]